<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <img src="habitacion.png" style="width:50px ; height:50px;" alt="">
            <a href="" class="d-inline-flex link-body-emphasis text-decoration-none"
                style="color: #000000; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">R i c
                k_A n d_ M o r t y</a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li> <a href="/" class="nav-link px-2 link-secondary"
                    style="color: #4efa6b; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">I n
                    i c i o</a></li>
            <li><a href="/informacion" class="nav-link px-2"
                    style="color: #4efa6b; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">I n
                    f o r m a c i o n</a></li>
            <li> <a href="/api" class="nav-link px-2"
                    style="color: #4efa6b; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">A P
                    I</a></li>

        </ul>
    </header>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="portalRM.jpg" class="d-block w-100" style=" height: 500px;" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="todosRM.jpg" class="d-block w-100" style=" height: 500px;" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="espacioRM.jpg" class="d-block w-100" style=" height: 500px;" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<div class="container text-center">
    <h1 style="align-items: center; color: #000000; font-family: 'Courier New', Courier, monospace;"> PERSONAJES</h1>
</div>

<div class="container my-3">
    <hr class="line-title">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="Evil_Morty.jpg" class="card-img-top">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Evil Morty</h5>
                    </center>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="RickPrime.png" class="card-img-top" style="width: 356px;">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Rick Prime</h5>
                    </center>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="Jerry_Smith1.webp" class="card-img-top carnaval">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Jerry Smith</h5>
                    </center>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="Ricktiminus_Sancheziminius.webp" class="card-img-top">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Rick Timinus</h5>
                    </center>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="MortyLagarto.webp" class="card-img-top">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Morty Lagarto</h5>
                    </center>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="Evil_Rick.webp" class="card-img-top">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">Evil Rick</h5>
                    </center>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a class="navbar-brand" href="index.html">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">&copy; API  Rick And Morty, Inc</span>
            </div>
        </footer>
    </div>